doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include include/header.pug
    include include/nav.pug
    block content
    include include/footer.pug
